# Android Studio / IntelliJ
.idea/
.idea/caches

# Gradle
.gradle/
build/
**/build/
local.properties

# Logs
*.log

# OS spécifiques
Thumbs.db
ehthumbs.db

# NDK / Native
.cxx/

# Copilot / autres plugins
.idea/**/copilot.*
